body{
	background-color: #EFE6E1;
}

img{
	 max-width: 200px;
	 max-height: 221px;
}

#visual{
	margin-top: 36px;
	display: flex;
	justify-content: center;
}

#result{
	text-align: center;
}

#again{
	border: 1px solid black;
	color: blue;
	text-align: center;;
}